/*style.css*/

:root {
    --primary-color: #707070;
    --secondary-color: #87C563;
    --tertiary-color: #EDE7E7;
}

.pure-menu-link {
    color: black;
}


.pure-button {
    background-color: var(--secondary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 5rem;
    background-color: var(--secondary-color);
    color: black;
}

header h1 {
    width: 25%;
    padding-left: 20px;
    
}

header div {
    justify-content: end;
    width: 25%;
}

.title {
    text-align: center;
}

.pure-g {
    text-align: center;
}

.footer {
    position: absolute;
    width: 100%;
    height: auto;
}

.rest-list {
    font-size: 1rem;
    color: blue;
}
